{% extends 'eqSysApp/base.html' %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="#">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Altor</a>
                <small class="text-muted">Date and Time</small>
            </div>
            <h2><a class="article-title" href="#">Solution:</a></h2>
            <p class="article-content">{{ number }}&sup2 = {{ result }}</p>
        </div>
    </article>
{% endblock content%}