{% extends 'eqSysApp/base.html' %}
{% block 2x2system %}
    <form method="post">
        {% csrf_token %}
        <input name="a1" placeholder="a&#8321;" size="1" style="text-align: center" type="number" step="any">
        <label for="x1">x&#8321; + </label>
        <input name="b1" placeholder="b&#8321;" size="1" style="text-align: center" type="number" step="any">
        <label for="y1">y&#8321; = </label>
        <input name="c1" placeholder="c&#8321;" size="1" style="text-align: center" type="number" step="any">
        <br>
        <input name="a2" placeholder="a&#8322;" size="1" style="text-align: center" type="number" step="any">
        <label for="x2">x&#8322; + </label>
        <input name="b2" placeholder="b&#8322;" size="1" style="text-align: center" type="number" step="any">
        <label for="y2">y&#8322; = </label>
        <input name="c2" placeholder="c&#8322;" size="1" style="text-align: center" type="number" step="any">
        <br><input type="submit" value="Submit">
    </form>
{% endblock 2x2system %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="#">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Altor</a>
                <small class="text-muted">Date and Time</small>
            </div>
            <h2><a class="article-title" href="#">Solution:</a></h2>

            <p class="article-content">
                a1 - {{ a1 }}
                b1 - {{ b1 }}
                c1 - {{ c1 }}

                a2 - {{ a2 }}
                b2 - {{ b2 }}
                c2 - {{ c2 }}
            </p>

        </div>
    </article>
{% endblock content%}